body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(../img/body_bg.jpg);

}

.o-side__margin {
  &--small {
    width: 28rem;
    margin: auto;
    @media only screen and (min-width: $iphone6) {
      width: auto;
    }
  }
  box-sizing: border-box;
  position: relative;
  @media only screen and (min-width: $iphone6) {
    margin: 0 5%;
  }

  @media only screen and (min-width: $tablet) {
    width: 76rem;
    margin: auto;
  }
}

.o-side__padding {
  position: relative;
  padding-right: 5%;
  padding-left: 8%;
  @media only screen and (min-width: $notebook) {
    padding-right: 16.5%;
    padding-left: 17.6%;
  }
}

a {
  text-decoration: none;
}

i {
  border: solid white;
  border-radius: 2px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.75rem;
  margin: 2.25rem 1rem;
}

.o-arrow {
  &__right {
    transform: rotate(-45deg);
  }
  &__left {
    transform: rotate(135deg);
  }
  &__position--left {
    position: absolute;
    left: 0.7rem;
    top: 1.8rem;
  }
  &__position--right {
    position: absolute;
    right: 0.7rem;
    top: 1.8rem;
  }
}

.o-big__img {
  height: auto;
  width: auto;
}
