$curiousblue: rgb(29, 158, 217);
$mineshaft: #333333;
$loblolly: #C8CFD5;
$white: white;
$concrete: #F2F2F2;
$black: black;

a {
  color: white;
  &:visited {
    color: white;
  }
}

@mixin profiles-bg {
  background: #9e9e9e; /* Old browsers */
  background: -moz-linear-gradient(top, #9e9e9e 0%, #d5d5d5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #9e9e9e 0%, #d5d5d5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #9e9e9e 0%, #d5d5d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}