html {
  font-size: 62.5%; /* 1rem = 10px */
}

@font-face {
  font-family: "Proxima Nova";
  src: url('../fonts/proxima_nova_regular-webfont.eot');
  src: url('../fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova_regular-webfont.woff') format('woff'),
  url('../fonts/proxima_nova_regular-webfont.ttf') format('truetype'),
  url('../fonts/proxima_nova_regular-webfont.svg#webfont') format('svg');
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url('../fonts/proxima_nova_bold-webfont.eot');
  src: url('../fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova_bold-webfont.woff') format('woff'),
  url('../fonts/proxima_nova_bold-webfont.ttf') format('truetype'),
  url('../fonts/proxima_nova_bold-webfont.svg#webfont') format('svg');
}

.o-header {
  &--big {
    font-size: 3rem;
    font-family: "Proxima Nova Bold", sans-serif;
  }

  &--regular {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Proxima Nova", sans-serif;
  }
  &--small {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Proxima Nova", sans-serif;
  }
  &--smaller {
    font-size: 1.3rem;
    font-family: "Tahoma", sans-serif;
  }
  &--little {
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
  }
  &--vlittle {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
  }
}

.o-text {
  &--little {
    font-size: 1.1rem;
    font-family: 'Verdana', sans-serif;

  }
  &--regular {
    font-size: 1.2rem;
    font-family: 'Verdana', sans-serif;
  }

  &--big {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: "Proxima Nova", sans-serif;
  }
}
