.c-body__container {
  display: block;
  margin-top: 0.4rem;
  min-height: calc(100vh - 23.5rem);
  background-color: white;
  @media only screen and (min-width: $mobile_l) {
    display: flex;
  }
}

/*--------------header--------------*/

.c-header {
  &__container {
    margin-bottom: 1.2rem;
    padding-top: 3.5rem;
    padding-bottom: 1.1rem;
    background-image: url(../img/header_bg.jpg);
    box-shadow: 0px 5px 4px 1px $mineshaft;
    color: white;
  }
  &__date {
    display: inline-block;
    float: right;
    margin-top: 0.8rem;
    font-family: Arial;
    font-weight: 600;
  }
}

/*--------------navbar--------------*/

.c-nav__menu {
  width: 100%;
  text-align: center;
  @media only screen and (min-width: $mobile_l) {
    width: auto;
  }
}

.c-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
  list-style: none;
  @media only screen and (min-width: $mobile_l) {
    flex-direction: row;
  }
  a {
    display: block;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    padding: 1.1rem 1rem 0.7rem;
    line-height: 1.185;
    transition: all 0.2s ease;
    @media only screen and (min-width: $tablet) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    &.active {
      box-sizing: border-box;
      text-shadow: 0 0 3.52px rgba(29, 158, 217, 0.75);
      background-color: $black;
      color: $curiousblue;
      transition: all 0.5s ease;
    }
  }
  li {
    width: 100%;
    text-align: center;
    @media only screen and (min-width: $mobile_l) {
      width: auto;
    }
  }
}

/*--------------section profiles--------------*/

img:hover + .css-active + span {
  display: block;
}

img:hover + .css-active {
  display: block;
}

span {
  display: block;
}

.css-active {
  display: none;
  background-color: black;
}

.o-name, .o-position {
  position: absolute;
  color: $white;
  z-index: 1;
  pointer-events: none;
}

.o-name {
  transform: translate(2rem, 0.8rem);
}

.o-position {
  transform: translate(2rem, 2.2rem);
}

.o-name.css-active {
  transform: translate(0, -69px);
  font-weight: 600;
}

.o-position.css-active {
  transform: translate(0, -41px);
}

.o-profile--photo:hover {
  border: 2px solid $curiousblue;
}

.c-article-container {
  width: 28rem;
  box-sizing: border-box;
  margin: 0 auto auto;
  padding-top: 4rem;
  padding-bottom: 4.5rem;

  @media only screen and (min-width: $mobile_l) {
    flex-grow: 1;
    width: 27rem;
    padding-right: 2rem;
    padding-left: 2.5rem;
  }
  @media only screen and (min-width: $tablet) {
    flex-grow: inherit;
    width: 52rem;
  }
}

.section__content {
  margin-bottom: 2.4rem;
  &--header {
    margin-top: 0;
    margin-bottom: 0.7rem;
    line-height: 1;
  }
}

.c-profile {
  &__box {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background-color: $white;
    border: 1px solid $loblolly;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    box-shadow: 0px 6px 17px 0px rgba(200, 207, 213, 0.6);
  }
  &__container {
    background-image: url(../img/profile3-bg.jpg);
    position: relative;
    height: 27.8rem;
    background-repeat: no-repeat;
    background-position: 85%;
    background-size: cover;
    @media only screen and (min-width: $mobile_l) {
      height: 22.3rem;
      background-position: right;
      background-size: cover;
    }
    @media only screen and (min-width: $tablet) {
      height: 26.5rem;
    }
  }
  &__info {
    position: absolute;
    opacity: 0.8;
    bottom: 0;
    height: 4rem;
    width: 100%;
    background-color: $black;
    color: $white;
  }
  &__carousell {
    @include profiles-bg;
    position: relative;
    display: grid;
    padding: 2rem 4.2rem;
    border: 2px solid $white;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }
  &__wrapper {
    display: flex;
    overflow: hidden;
    height: 66px;
  }
  &__img {
    display: flex;
    transform: translateX(0px);
    height: 64px;
    transition: all 1s ease;
  }
}

.o-profile--photo {
  margin: 0.2rem;
  opacity: 0.5;
  transition: opacity 1s ease;
  &.sharp {
    opacity: 1;
  }
}

/*--------------section aside--------------*/

.c-aside {
  &__container {
    flex: 3;
    box-sizing: border-box;
    padding: 0 3% 0 4%;
    background-color: $concrete;
    color: $curiousblue;
    @media only screen and (min-width: $mobile_l) {
      width: 24rem;
    }
    @media only screen and (min-width: $tablet) {
      min-height: calc(100vh - 16.1rem);
    }
  }
  &__wrapper {
    width: 28rem;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 4.5rem;
    @media only screen and (min-width: $mobile_l) {
      width: 100%;
      padding-top: 8rem;
    }
  }
  &__header {
    display: block;
    height: 1px;
    width: 11rem;
    padding-top: 0.8rem;
    border: 0;
    border-top: 1px solid $curiousblue;
    margin: 0 0 3rem;
  }
  &__map {
    width: 100%
  }
}

/*--------------section footer--------------*/

.c-footer {
  width: 100%;
  height: 8.2rem;
  bottom: 0;
  padding: 1rem 0;
  text-align: center;
  background-color: black;
  @media only screen and (min-width: $tablet) {
    height: 3.2rem;
    padding: 0;
  }
  &__menu {
    justify-content: space-between;
    margin-top: 0;
    padding-left: 0;
    column-count: 2;
    list-style: none;
    text-align: center;
    @media only screen and (min-width: $tablet) {
      display: flex;
      padding-top: 1.2rem;
      padding-left: 2.5rem;
      column-count: 1;
    }
    li {
      padding: 0.2rem 0;
      @media only screen and (min-width: $tablet) {
        padding: 0;
      }
    }
    & a {
      transition: all 0.5s ease;

      &:hover {
        background-color: black;
        color: $curiousblue;
      }
    }
  }
}
